@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br /><br />
<table class="table">
    <tr>
        <th>
            Project Manager
        </th>
        <th>
            Lead Programmer
        </th>
        <th>
            Additional Programming
        </th>
        <th>
            QA
        </th>
        
    </tr>


        <tr>
            <td>
                Сергей Кузнецов
            </td>
            <td>
                Александр Матющенко
            </td>
            <td>
                Константин Ткачук
            </td>
            <td>
                Ольга Пучкова
            </td>
            
        </tr>


</table>