@using PagedList;
@using PagedList.Mvc;

@model IPagedList<News_MVC.Models.Articles>

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>

<table class="table">


@foreach (var item in Model)
{
    <tr>
        <td>
           
            @Html.ActionLink(item.ArticleName, "ArticleContent", new { id = item.ArticleID })
        
        </td>
    </tr>
}

</table>


@Html.PagedListPager(Model, page => Url.Action("ArticleList", new { page }))

<div>
    @*<h4>Tags</h4>
 @foreach (var item in ViewData["Tags"]
                as List<News_MVC.Models.Tags>)
 {
    
        @Html.ActionLink(item.TagName, "TagArticleList", "ArticleTags", new { id = item.TagID }, null)
     <br/>

    
 }*@

    @Html.Partial("_TagsList", ViewData["Tags"])
</div>

