@{
    ViewBag.Title = "Management";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<li>@Html.ActionLink("Manage Articles", "Index", "Articles")</li>
<li>@Html.ActionLink("Manage Tags", "Index", "Tags")</li>

<br/>
<p>Use this area to provide additional information.</p>
